<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BookStore</title>
    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          rel="stylesheet">
    <style>
    </style>
</head>
<body>

<div class="container">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">BookStore</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/createBook">Add Book</a>
                    <a class="nav-link" href="/accounting">Accounting</a>
                    <a class="nav-link" href="/shoppingCart">Shopping Cart</a>
                </div>
            </div>
        </div>
    </nav>

    <div><h1> Shopping Cart </h1></div>
        <table class="table">
            <thead>
            <tr>
                <th>Book</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Discount</th>
                <th>Position Sum</th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first">
            <tr th:each="item : ${items}">
                <form method="post" th:action="@{/modifyCart}">
                <td th:text="${item.getBookTitle()} + ' by ' + ${item.getBookAuthor()}">Book_1 by Author_1</td>
                <td th:text="${item.getBookPrice()} + ' &euro;'">10,00 &euro;</td>
                <input type="hidden" name="id" th:value="*{item.id}" class="form-control" >
                <input type="hidden" name="bookTitle" th:value="*{item.bookTitle}" class="form-control" >
                <input type="hidden" name="bookAuthor" th:value="*{item.bookAuthor}" class="form-control" >
                <input type="hidden" name="bookPrice" th:value="*{item.bookPrice}" class="form-control" >
                <input type="hidden" name="bookPrice" th:value="*{item.bookPrice}" class="form-control" >
                <input type="hidden" name="summedCosts" th:value="*{item.summedCosts}" class="form-control" >
                <input type="hidden" name="invoiceId" th:value="*{item.invoiceId}" class="form-control" >
                <input type="hidden" name="bought" th:value="*{item.bought}" class="form-control" >
                <td ><input type="number" name="amount" th:value="*{item.amount}" class="form-control" onchange="this.form.submit()"></td>
                <td ><input type="number" name="discount" th:value="*{item.discount}" class="form-control" onchange="this.form.submit()"></td>
                <td th:text="${item.getSummedCosts()} + ' &euro;'">10,00 &euro;</td>
                </form>
            </tr>

            <tr>
                <td >Book_2 by Author_1</td>
                <td >15,00 &euro;</td>
                <td >1</td>
                <td >0.0</td>
                <td >15,00 &euro;</td>
            </tr>
            <tr>
                <td >Book_3 by Author_1</td>
                <td >20,00 &euro;</td>
                <td >1</td>
                <td >0.0</td>
                <td >20,00 &euro;</td>
            </tr>
            </tbody>
        </table>
        <span th:text="'Sum: ' + ${sum}">Sum: 45.00 &euro;</span>
        <br>
    <div style="justify-content: flex-start; display: flex;">
        <form method="post" th:action="@{/buy}">
                <button class="btn btn-success" type="submit">Buy</button>
        </form>
        <form method="post" th:action="@{/clearCart}">
            <button class="btn btn-danger" type="submit">Clear Cart</button>
        </form>
    </div>
</div>
</body>
</html>